:root {
  --primary: #e63946;
  --secondary: #1d3557;
  --buttonHover: #14253E;
  --tertiary: #457b9d;
  --label: #a8dadc;
  --background: #f1faee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 60px auto 80px;
  grid-template-columns: 100%;
  align-items: center;
  justify-content: center;
}

header {
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

header span {
  font-size: 24px;
  font-weight: bold;
  margin-left: 25px;
  color: white;
}

nav {
  height: 100%;
  display: flex;
  
}

ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  height: 100%;
}

li {
  list-style: none;
  font-size: 18px;
  color: white;
}

li a {
  text-decoration: none;
  
}

a{
  cursor: pointer;
  color: white;
  transition: 600ms;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 35px;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 0 35px;
  text-align: center;
  background-color: var(--primary);
  height: 100%;
}

span {
  color: white;
}

footer a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
}

img {
  width: 30px;
  margin-right: 10px;
}

button#addButton {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

button#addButton a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

button#addButton a img {
  width: 50px;
  margin: 0;
}

button#addButton a span {
  font-size: 18px;
}