:root {
  --primary: #e63946;
  --secondary: #1d3557;
  --buttonHover: #14253E;
  --tertiary: #457b9d;
  --label: #a8dadc;
  --background: #f1faee;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background);
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  width: 650px;
}

h1 {
  font-size: 62px;
  position: absolute;
  top: 0;
  margin-top: 80px;
  color: var(--buttonHover);
}

h2 {
  margin-top: 50px;
  text-align: center;
  color: var(--buttonHover);
}

img {
  width: 280px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 35px 25px 25px 25px;
  border: solid 2px var(--primary);
  background-color: var(--primary);
  border-radius: 8px;
  width: 280px;
  height: 300px;
}

label {
  color: var(--background);
}

input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  color: var(--tertiary);
  padding: 3px 15px 3px 20px;
}

button {
  cursor: pointer;
  border: none;
  height: 36px;
  width: 100%;
  margin-top: 35px;
  border-radius: 3px;
  background-color: var(--secondary);
  color: aliceblue;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  background-color: var(--buttonHover);
}

.inputLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 34px;
  margin-top: 5px;
  background-color: var(--background);
  border: solid var(--secondary) 2px;
  border-radius: 4px;
}

#inputEmail {
  margin-bottom: 20px;
}

#buttonEye {
  cursor: pointer;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  width: 18px;
}